{% load static %}

<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
  <meta name="description" content="A dating app that takes the superficiality out of online dating."/>
  <meta name="author" content="Jael Ramsay"/>
  <title>UnMask</title>
  <link rel="icon" type="image/x-icon" href="{% static '/images/favicon.ico' %}"/>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet"/>
  <link href="https://fonts.googleapis.com/css?family=Merriweather+Sans:400,700" rel="stylesheet"/>
  <link href="https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic" rel="stylesheet" type="text/css"/>
  <link rel="stylesheet" type="text/css" href="{% static '/css/bootstrap.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static '/css/main.css' %}">
</head>

<body>

	{% include 'UnMask/navbar.html' %}

  <div class="page">
  {% block content %}
  </div>

	{% endblock %}

</body>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
<script src="{% static '/js/main.js' %}"></script>

</html>